.graph-container {
  height: 90vh;
}

.nav-link {
  color: #3cb44c !important;
}

#control-tabs {
  background-color: #eaecef;
}

.navbar-nav > .active > a {
  background-color: silver !important;
}

.btn-toolbar {
  margin-top: 5px;
}

#graphTypeSelector-tab-information {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 15px;
  background-color: cornflowerblue;
  background-size: 5px;
}

.form-check-label {
  font-size: 1.5vh;
}

.template-button {
  margin-right: 5px;
}

/* This controls the size of the checkboxes */
/* .custom-control-label::before {
  width: 13px !important;
  height: 13px !important;
} */

.playerFix {
  left: 0;
  position: sticky;
  top: auto;
  width: 120px;
  overflow-x: auto;
  background: #eee;
}

.tableFixHead {
  overflow-y: auto;
  height: 1000px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 18, 18);
  width: 100%;
  color: whitesmoke;

  margin-top: 2vh;
}

.social {
  color: rgb(228, 223, 223);
  margin-left: 5px;
  margin-right: 5px;
}

#copyright {
  font-size: small;
  opacity: 35%;
}

.css-26l3qy-menu {
  z-index: 9999 !important;
}

.graph-control-item-group {
  margin: 10px 0px;
}

text {
  font-size: 15px !important;
}

.card {
  margin: 10px 0px;
  width: 15rem;
  margin: auto;
  height: 500px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicators .active {
  background-color: black !important;
}

.carousel-indicators li {
  background-color: silver !important;
}

.card-title,
h5,
a {
  color: black !important;
  font-size: 2vh;
}
