.container-fluid {
  /* background-color: #f0f0f0; */
}

.navbar.navbar-expand-lg.navbar-light {
}

/* .nav-item {
  color: #b4843c !important;
} */

.graph-container {
  height: 100vh;
}

.nav-link {
  color: #3cb44c !important;
}

.navbar-nav > .active > a {
  background-color: silver !important;
}

#graphTypeSelector-tab-information {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 15px;
  background-color: cornflowerblue;
  background-size: 5px;
}
