.graph-container {
  height: 90vh;
}

.nav-link {
  color: #3cb44c !important;
}

.navbar-nav > .active > a {
  background-color: silver !important;
}

#graphTypeSelector-tab-information {
  color: whitesmoke !important;
  font-style: italic;
  font-size: 15px;
  background-color: cornflowerblue;
  background-size: 5px;
}

.form-check-label {
  font-size: 1.5vh;
}

.playerFix {
  left: 0;
  position: sticky;
  top: auto;
  width: 120px;
  overflow-x: auto;
  background: #eee;
}

.tableFixHead {
  overflow-y: auto;
  height: 1000px;
}

/* .tableFixHeadSmall {
  overflow-y: auto;
  height: 1000px;
  font-size: 12px;
  white-space: nowrap;
} */

th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 24px;
  white-space: nowrap;
}

th {
  background: #eee;
}
